<footer>
	<div class="l-container">
		<div class="b-logo b-logo--footer">
			<a href="#" title="Блог Kopikot" class="b-logo__href"><img src="img/logo.png" alt="Блог Kopikot"></a>
			<p class="b-logo__text">Блог Копикот.ру <br> все права защищены</p>
		</div>
		<div class="b-social">
			<a href="#" title="facebook" class="b-social__btn">
				<i class="icon-ion-social-facebook"></i>
			</a>
			<a href="#" title="vkontakte" class="b-social__btn">
				<i class="icon-vk"></i>
			</a>
			<a href="#" title="instagam" class="b-social__btn">
				<i class="icon-ion-social-instagram-outline"></i>
			</a>
			<a href="#" title="twitter" class="b-social__btn">
				<i class="icon-twitter"></i>
			</a>
		</div>
	</div>
</footer>