<header>

	<div class="l-logo-place">
		<div class="l-container">
			<div class="b-logo">
				<a href="#" title="Блог Kopikot" class="b-logo__href"><img src="img/logo.png" alt="Блог Kopikot"></a>
				<p class="b-logo__text"><span class="no-mobile">&mdash; </span>Все новости кэшбэк-сервиса</p>
			</div>
			<div class="b-find-form">
				<div class="b-find-form__wrapper">
					<form action="#" method="POST" class="b-find-form__form">
						<div class="b-find-form__input-wrapper">
							<input type="text" class="b-find-form__input" placeholder="Поиск">
						</div>
						<a href="#" class="btn-inline btn-inline--find"><span class="icon-ion-ios-search-strong" title="Поиск"></span></a>
						<a href="#" class="btn-inline btn-inline--user" title="Профиль"></a>
					</form>	
				</div>
			</div>
		</div>
	</div>	
	
	<div class="l-goto">
		<div class="l-container">
			<a href="#" class="btn btn--goto" title="Копикот.ру">Перейти в Копикот.ру</a>
		</div>
	</div>

</header>