/* ------------ FONTS ------------- */
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$opensans: 'Open Sans', sans-serif;
$ptserif: 'PT Serif', serif;
$prx-reg: 'Conv_ProximaNova-Reg';
$prx-italic: 'Conv_ProximaNova-LightIt';
$prx-light: 'Conv_ProximaNova-Light';

/*------------COLORS---------------*/
$btnColor: #00bddb;
$btnColorHover: #1fdcfa;
$btnRedColor: #ff2c32;
$btnRedColorHover: #ff5050;

/*------------TRANSITIONS----------*/
$transition: all 0.5s ease;